@model Check02.Models.MdDono

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.NmDono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NmDono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>

    </dl>
</div>
<p>
    <input type="button" class="btn btn-default" value="Editar" onclick="location.href='@Url.Action("Edit", "Dono", new { id = Model.IdDono })'" />

    <input type="button" class="btn btn-default" value="Voltar" onclick="location.href='@Url.Action("Index", "Dono")'" />
</p>
