@model IEnumerable<Check02.Models.MdDono>

@{
    ViewBag.Title = "Donos";
}

<h2>Donos</h2>

<p>
    <input type="button" class="btn btn-default" value="Cadastrar Dono" onclick="location.href='@Url.Action("Create", "Dono")'" />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NmDono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NmDono)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Telefone)
    </td>
    <td>
        @Convert.ToDateTime(item.Nascimento).ToString("dd/MM/yyyy")
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cpf)
    </td>
    <td>
        <input type="button" class="btn btn-default" value="Editar" onclick="location.href='@Url.Action("Edit", "Dono", new { id = item.IdDono })'" />
        <input type="button" class="btn btn-default" value="Detalhes" onclick="location.href='@Url.Action("Details", "Dono", new { id = item.IdDono })'" />
        <input type="button" class="btn btn-default" value="Excluir" onclick="location.href='@Url.Action("Delete", "Dono", new { id = item.IdDono })'" />
        <input type="button" class="btn btn-default" value="Comprar" onclick="location.href='@Url.Action("Index", "Oferta", new { id = item.IdDono })'" />
    </td>
</tr>
}

</table>
