@model Check02.Models.MdCao

@{
    ViewBag.Title = "Criar";
}

<h2>Criar</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Cao</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.NmCao, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NmCao, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NmCao, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NmRaca, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.DropDownList("IdRaca", new SelectList(ViewBag.Raca, "IdRaca", "NmRaca"), "Selecione a Raça",
           new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NmRaca, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Criar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    <input type="button" class="btn btn-default" value="Voltar" onclick="location.href='@Url.Action("Index", "Cao")'" />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
