@model IEnumerable<Check02.Models.MdCao>

@{
    ViewBag.Title = "Cães";
}

<h2>Cães</h2>

<p>
    <input type="button" class="btn btn-default" value="Cadastrar Cão" onclick="location.href='@Url.Action("Create", "Cao")'" />
</p>
<table class="table"> 
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NmCao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NmRaca)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NmCao)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NmRaca)
    </td>
    <td>
        <input type="button" class="btn btn-default" value="Editar" onclick="location.href='@Url.Action("Edit", "Cao", new { id = item.IdCao })'" />
        <input type="button" class="btn btn-default" value="Detalhes" onclick="location.href='@Url.Action("Details", "Cao", new { id = item.IdCao })'" />
        <input type="button" class="btn btn-default" value="Excluir" onclick="location.href='@Url.Action("Delete", "Cao", new { id = item.IdCao })'" />
    </td>
</tr>
}

</table>
