@model IEnumerable<Check02.Models.MdCao_Dono>

@{
    ViewBag.Title = "Cães e Donos";
}

<h2>Cães e Donos</h2>

<p>
    <input type="button" class="btn btn-default" value="Relacionar cães aos seus donos" onclick="location.href='@Url.Action("Create", "Cao_Dono")'" />
</p>


<div>
    @using (Html.BeginForm())
    {
        @Html.DropDownList("ItemSelecionado", new SelectList(ViewBag.ListarRaca, "IdRaca", "NmRaca"), "Filtrar por Raça",
               new { htmlAttributes = new { @class = "form-control" } })
        <input type="submit" value="Buscar" class="btn btn-default" />
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NmDono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NmCao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NmRaca)
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NmDono)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NmCao)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NmRaca)
    </td>
    <td>
        <input type="button" class="btn btn-default" value="Editar" onclick="location.href='@Url.Action("Edit", "Cao_Dono", new { id = item.IdCao_Dono })'" />
        <input type="button" class="btn btn-default" value="Detalhes" onclick="location.href='@Url.Action("Details", "Cao_Dono", new { id = item.IdCao_Dono })'" />
        <input type="button" class="btn btn-default" value="Excluir" onclick="location.href='@Url.Action("Delete", "Cao_Dono", new { id = item.IdCao_Dono })'" />
    </td>
</tr>
    }

</table>
