@model IEnumerable<Check02.Models.MdOferta>

@{
    ViewBag.Title = "Index";
}

<style>
    .valor h3 {
        border: 2px solid gray;
        border-radius: 20px;
        padding: 5px;
        position: relative;
        top: -6px;
        box-shadow: 5px 5px 3px gray;
    }

    .valor {
        width: 500px;
        margin: auto;
        border-radius: 20px;
        box-shadow: -6px -6px 3px gray;
    }

    .valor div {
        display: flex;
        padding: 20px 50px;
        border: 2px solid gray;
        border-radius: 20px;
        box-shadow: inset -6px -6px 5px gray;
    }

    .items{
        display: flex;
    }
</style>

<br />

<div id="information">

    @foreach (var item in @ViewBag.Geral)
    {
        <div class="items">
            <h4> <strong> Cliente: </strong></h4>
            <h4> @item.NmDono </h4>
        </div>

        <div class="items">
            <h4> <strong> Telefone: </strong> </h4>
            <h4> @item.Telefone </h4>
        </div>

        <div class="items">
            <h4> <strong> Data de Nascimento: </strong> </h4>
            <h4> @item.Nascimento </h4>
        </div>

        <div class="items">
            <h4> <strong> CPF: </strong> </h4>
            <h4> @item.Cpf </h4>
        </div>
    }

</div>

<table class="table">



</table>


    <h3> Produtos </h3>


    <table class="table">
        <tr>
            <th>
                Descrição
            </th>
            <th>
                Preço
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in @ViewBag.Servico)
        {
            <tr>
                <td>
                    @item.DescricaoProduto
                </td>

                <td>
                    @item.Preco
                </td>

                <td>
                    <input type="button" class="btn btn-default" value="Adicionar" onclick="location.href='@Url.Action("AddProduto", "Oferta", new {IdProduto = item.IdServico })'" />
                </td>
            </tr>
        }
    </table>


    <div class="valor">
        <div>
            <h2>Valor Total</h2>
            <hr />
            <h3>R$: @ViewBag.ValorTotal</h3>
        </div>
    </div>



    <table class="table">
        <h3> Produtos no Carrinho </h3>

        <tr>
            <th>
                Descrição
            </th>
            <th>
                Preço
            </th>

            <th>

            </th>
        </tr>

        @foreach (var item in @ViewBag.ProdutosSelecionados)
        {
            <tr>
                <td>
                    @item.DescricaoProduto
                </td>

                <td>
                    @item.Preco
                </td>

                <td>
                    <input type="button" class="btn btn-default" value="Remover" onclick="location.href='@Url.Action("RemoverProduto", "Oferta", new {IdProduto = item.IdServico })'" />
                </td>
            </tr>
        }

    </table>


